
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
    background-color:#F1F1F3 ;
}
/* shared style */
.secondary-background{
    background-color: #C6E4D6;
}
.text-primary{
    color: #006A50; 
}  

.dark-2{
    color:#0E0E0E;
}

.btn-primary {
    background-color: transparent;
    font-size: 18px;
    font-weight:bold;
    color:#006A50;
    padding: 15px 30px;
    border-radius: 5px;
    border-color: #006A50;
     

}
.btn-secondary{
    background-color: #006A50;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 17px 34px;
    border-radius: 5px;
    box-shadow: 1px;
    border: none;
}


 .description-title{
    font-size: 20px;
    font-weight: bold;
    color:rgb(14, 14, 14, 80%);
}
.sections-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.content-sub-title{

    font-size: 32px;
    color:rgb(14, 14, 14, 80%);
}
.section-description{
     font-size: 16px;
     
     color:rgba(29, 28, 28, 0.7)
}

.background-secondary{
    color: #006A50;
}
/* .digital-card{
    background-color: rgb(84, 144, 245,20%);
    border-radius:10px ;

} */

.border {
    border: 1px solid rgb(134, 130, 130);
    width: 1000px;
}
/* Nav styles */

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 24px 160px;
 
}
.nav-title{
    font-weight: 800;
    font-size: 32px;
}

nav ul{

    display: flex;
    margin-right: 50px;
    align-items: center;
}
nav ul li{
    list-style: none ;

}

nav li a{
    text-decoration: none;
    font-size: 18;
}


/* banner style */

.banner{
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 20px;
    display: flex;
    justify-content:space-between ;
    margin: auto;
    padding-left: 100px;
    padding-top: 80px;

}

.banner-content{
    
    max-width: 622px;
     
}
.banner-sub-title{
    color:#0E0E0E;
    font-size: 24px;
    font-weight: 600;


}

.banner-title{
    font-weight: bold;
    font-size: 56px;

}

.banner-profile-pic{

    width: 470px;
    height:400px ;
}
 /* main styles */
main {
    max-width:auto;
    height: auto;
    margin: 0 auto;

}

main section{
    margin-top: 130px;
    margin-bottom: 30px;

}
/* card section.. */        
.card-box{
   
    display: flex;
    justify-content: space-between;
    text-align: left;
    /* gap: 24px; */
    
}

.card{
   max-width: 410px;
   max-height: 325px; 
   /* background-color:rgb(223, 210, 236); */
   border-radius:10px ;
   /* gap: 24px; */
   padding: 30px;
   margin: 20px 10px 0px 10px;
   
 
   
}
.card1{
    background-color:rgb(84, 144, 245, 20%);
}

.card2{
    background-color:#C6E4D6 ;
}

.card3{
    background-color:#F7EBCF ;
}

.btn-card1{ 
    background-color: #5490F5;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 11px 10px;
    border-radius: 5px;
    box-shadow: 1px;
    border: none;
}
.btn-card2{
    background-color: #09A15C;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 11px 10px;
    border-radius: 5px;
    box-shadow: 1px;
    border: none;
    
}
.btn-card3{
    background-color:#FFC239 ;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 11px 10px;
    border-radius: 5px;
    box-shadow: 1px;
    border: none;
}
 /* earth-news section styles */
 .earth-wrapper{
    background-color: #ffffff;
    border-radius: 15px;
    max-width: 1280px;
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    padding: 48px 48px;
 }
 .earth-image{
    border-radius: 20px;
 }


/* Dr Yunus section */
.yunus-main{
    width: 1320px;
    height: auto;
    margin: 30px;
    background-color:white;
    border-radius: 10px;
    border-color: #444343; 
    padding: 10px;
    
}

.yunus-image{
    
    background-image:  url("/assets/quote-bg.png");
    
    background-repeat: no-repeat;
}
.about{
    max-width: 1280px;
    border-radius: 10px;
    padding: 130px 150px;
    align-items: center;
    margin: auto;

}
/* Questions  */
.box-section{

width: 1320px;
 background-color: #ffffff;
 border-radius: 10px;

}
.questions{
   
    width: 100%;
    border: 1px solid gray
    
  }

td {
    background-color: #ffffff;
    padding-top:  10px; ;
    padding-bottom: 10px; 
    text-align: left;
    color: black;
}

.questions .th {
background-color:#90b9a6

  }

.donate{
    width: 1280px;
    display: flex;
    align-items: center;
    justify-items: center;

}
.donate-container{
    display: flex;
    justify-content:center;
    gap: 30px;
    /* background-color:#C6E4D6; */
    margin-top: 32px;
    margin-bottom: 32px;

}
.h1{
 background-color: #ffffff;
 padding: 50px 60px;
 border: 1px solid rgb(133, 126, 126);
 border-radius: 20px;
 }

.h1-exceptional{
    background-color: #90b9a6;
    padding: 50px 60px;
    border: 1px solid black;
    border-radius: 20px;
 }
 .donate-ender{
    text-align: center;
 }
 /* .amount{
    padding-top: 30px;
    padding-bottom: 30px;
 } */






/* footer section */
.footer-container{

width: 1280px;
text-align: center;
/* display:inline; */
background-color: #C6E4D6;
border-radius: 20px;
justify-content:space-between ;
margin: auto;
padding: 80px 100px 80px 100px;


}

.footer {
    
    width: 1280px;
    display: inline;
    text-align: center;
    padding: 530px 530px;
    border-style: none;
    gap:25px;


    
}
.footer-content input[type="email"]{
width: 100%;
height:64px ;
border-radius:5px 0 ;
background-color: white;
color: rgb(119, 111, 111);
padding: 20px 10px 20px 10px;
}

.footer-content input[type="submit"]{
    height: 64px;
    background-color: #006A50;
    border-radius:0 5px;


}



